<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
<link rev="made" href="mailto:masao@ulis.ac.jp">
<link rel="stylesheet" href="../default.css" type="text/css">
<link rel="stylesheet" href="style.css" type="text/css">
<link rel="start" href="index.html">
<link rel="contents" href="index.html">
$link_prev
$link_next
<title>$title</title>
</head>
<body>
<table class="navbar">
<tr>
  <td class="prev">$prev</td>
  <td class="up"><a href="$monthlyindex#$date">$date</a></td>
  <td class="next">$next</td>
</tr>
</table>

<h1>$title</h1>
<div class="monthlink"></div>
<div class="image"><img src="$image" $imagesize alt="$title"></div>
<p class="datetime">撮影日時: $datetime</p>
<div class="description">$description</div>

<table class="navbar">
<tr>
  <td class="prev">$prev</td>
  <td class="up"><a href="$monthlyindex#$date">$date</a></td>
  <td class="next">$next</td>
</tr>
</table>
<hr>
<address>
$NAME<br>
<a href="$HOME_URL">$HOME_URL</a>,
<a href="mailto:$EMAIL">$EMAIL</a>
</address>
</body></html>
