<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
<link rev="made" href="mailto:$EMAIL">
<link rel="stylesheet" href="../default.css" type="text/css">
<link rel="stylesheet" href="style.css" type="text/css">
$link_chapter
<title>$TITLE</title>
</head>
<body>
<div class="last-update">最終更新時刻: $now</div>
<h1>$TITLE</h1>
<form action="p-search.cgi" method="GET">
<div class="search-form">
キーワード検索:
<input type="text" name="keyword" value="" size="30">
<input type="submit" value=" Search ">
</div>
</form>
<h2>月別一覧</h2>
<div class="monthly-list">
$monthly_list
</div>
<p>総計 $total 枚（$total_size MB）の写真が登録されています。</p>
<h2>最近 $RECENT 日分</h2>
$body
<hr>
<address>
$NAME<br>
<a href="$HOME_URL">$HOME_URL</a>,
<a href="mailto:$EMAIL">$EMAIL</a>
</address>
</body></html>

