<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
<link rev="made" href="mailto:masao@ulis.ac.jp">
<link rel="stylesheet" href="../default.css" type="text/css">
<link rel="stylesheet" href="style.css" type="text/css">
$link_chapter
<title>Webアルバム</title>
</head>
<body>
<h1>Webアルバム</h1>
<h2>月別一覧</h2>
<div class="monthly-list">
$monthly_list
</div>
<h2>最近 $recent 日分</h2>
$body
<hr>
<address>
高久雅生 (Takaku Masao)<br>
<a href="http://nile.ulis.ac.jp/~masao/">http://nile.ulis.ac.jp/~masao/</a>,
<a href="mailto:masao@ulis.ac.jp">masao@ulis.ac.jp</a>
</address>
</body></html>
