/* 全般 */
h1 { text-align: center; }

/* ナビゲーションバー */
.prev { text-align: left; }
.next { text-align: right; }
.up { text-align: center; }
.navbar {
  border: solid thin gray;
  width: 80%;
  margin: auto;
  background-color: silver;
}

/* 共通 */
div.day-header {
  font-size: larger;
  padding: 5px;
  border-width: 0 0 thin thick;
  border-style: solid;
  border-color: gray;
}
div.day-body { margin: 2% 10%; }

/* トップ */
div.monthly-list {
  width: 80%;
  margin: auto;
  border: solid thin gray;
  padding: 1em;
}
div.last-update {
  text-align: right;
  font-size: smaller;
}
div.search-form { text-align: center; }

/* 各写真 */
div.image { text-align: center; }
.datetime {
  margin-left: 10%;
}
.description {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
  border-style: dashed;
  border-width: thin;
  padding: 5px;
}

/* 検索CGI */
table.search-result {
  margin-left: 2%;
  margin-right: 2%;
  padding: 5px;
}
td.thumbnail { text-align: center; }
